.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    margin-bottom: 4.88%;
}

.codeBlock {
    display: flex;
    flex: 1 1;
    gap: 3.4%;
    margin-bottom: 2.44%
}

.btnStyle {
    padding: 15px 20px;
    gap: 10px;
    border-radius: 50px;
    background: #1E1E1E;
    box-shadow: 0 0 5px 0 rgba(30, 30, 30, 0.15);
    box-sizing: border-box;
    width: 133px;
}

.btnText {
    color: #EAEDF6;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}

.inputBlock {
    display: flex;
}

.outputBlock {
    display: flex;
    flex-direction: column;
    gap: 3.4%;
    flex: 1;
}

.inputBlock, .firstOutput, .secondOutput {
    flex: 1;
    min-height: 0;
}
