.headerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.88%;
    margin-bottom: 4.88%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 620px;
    padding: 15px 40px;
    gap: 30px;
    border-radius: 25px;
    border: 3px solid #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.logoText {
    color: #1E1E1E;
    text-align: center;
    font-family: "Clash Display", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.subText {
    color: #1E1E1E;
    font-family: Manrope, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.logoText,
.subText {
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.logoText:hover,
.subText:hover {
    cursor: pointer;
    background: radial-gradient(135.48% 89.28% at 50% 50%, #ED8A8A 0%, #FF0303 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px rgba(255, 3, 3, 0.25);
}
